@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  font-weight: 400;
  text-align: center;
  color: #000000;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    color: black;
    background: white;
  }
}
input:focus{
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
