.container {
  padding: 0 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  background: #F9FAFE;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 70px;
  max-width: 744px;
  max-height: 728px;
}

.mainContent {
  width: 100%;
  padding: 50px 70px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 48px;
  line-height: 57px;
}

.logo {
  margin: 0 2rem;
}

.logoWarpper {
  width: 69px;
  height: 69px;
  display: flex;
  align-items: center;
  background-color: #3450E4;
  margin-left: 70px;
  justify-content: space-around;
  border-radius: 0px 0px 24px 24px;
}

.description {
  padding: 0 70px;
  font-size: 24px;
  line-height: 28px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
}

.card p {
  margin: 0;
}

.card h3 {
  font-size: 24px;
}

.infoText {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.noteText {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color:red
}

.button, .buttonDownload {
  font-family: 'Rubik';
  font-weight: 400;
  padding: 15px 27px;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  background: #3450E4;
  border-radius: 19px;
  color: #ffffff;
  margin: 2rem 0;
  cursor: pointer;
  border: none;
}
.buttonDownload {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:hover:hover, .buttonDownload:hover {
  background: #536DF8;
}
.buttonDownload:after {
  content: '\2193';
  position: absolute;
  opacity: 0;  
  right: -20px;
  transition: 0.5s;
}

.buttonDownload:hover:after {
  opacity: 1;
  right: 10px;
}

.linkButton {
  font-family: 'Rubik';
  font-weight: 400;
  padding: 10px 15px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #3450E4;
  cursor: pointer;
  border: none;
  background: transparent;
}

.linkButton:hover {
  background: rgba(52, 80, 228, 0.09);
  border-radius: 19px;
}

.input {
  box-sizing: border-box;
  padding: 17px 0px 17px 27px;
  gap: 7px;
  width: 100%;
  border: 1px solid #C2C2C2;
  border-radius: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #616161;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.formGroup {
  width: 100%;
  color: #616161;
  font-size: 10px;
  line-height: 24px;
}

.label {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: white;
  opacity: 0;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  z-index: 1
}

.formGroup>.input:focus {
  border: 1px solid #C2C2C2;
}

.input:focus+.label,
.input:focus-visible+.label {
  opacity: 1;
}